<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> <!--header is a semantic tag which is used to define the header of the page-->
        <h1> Avinash yadav</h1>
        <p> I am a web developer and I love to code.</p>

    </header>
    <footer> <!--footer is a semantic tag which is used to define the footer of the page-->
        <h1> Contact me</h1>
        <p> Email: avinashyadav@example.com</p>
        <p> Copyright &copy; 2024 Avinash yadav</p>
    </footer>
    <main> <!--main is a semantic tag which is used to define the main content of the page-->
        <section> <!---- it is used to define a section of the page-->
            <h1> About me</h1>
            <p> I am a web developer and I have been working in this field for 5 years and I have worked on many projects. I am passionate about web development and I love to learn new technologies.</p>
        </section>
        <article> <!--article is used to define an article of the page-->
            <h1> My projects</h1>
            <p> I have worked on many projects and I have experience in HTML, CSS, JavaScript, React, Node.js, and many other technologies. I have also worked on many frameworks like Bootstrap, Tailwind CSS, and many others.</p>
        </article>
        <aside> <!--for content aside main content(ads) its not a main part of the page-->
            <h1> Advertisement</h1>
            <p> Check out our latest products!</p>
        </aside>
        <div> <!--div is a non-semantic tag which is used to define a division of the page-->
            <h1>My skills</h1>
            <p> I have experience in HTML, CSS, JavaScript, React, Node.js, and many other technologies. I have also worked on many frameworks like Bootstrap, Tailwind CSS, and many others.</p>
        </div>
        <div>
             <p>hello world</p>
        </div>  

           
    </main>

</body>
</html>